h2 {
    color: white;
    text-align: center;
    text-shadow: 0 0 5px #000;
    background-color: darkgray;
    padding: 20px;
    font-weight: bold;
}

.parrafoh2 {
    margin: 0;
    padding: 20px;
    background-color: lightgray;
    font-size: large;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.foto2 {
    height: 310px;
}

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

img {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}

.jumbotron2 {
    height: 100px;
    background-position: center;
    text-align: left;
    font-weight: bold;

    h2 p {
    font-weight: bold;
    text-shadow: 0 0 5px;
    }
}

.card {
    background-color: $color-blanco;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;

    h2 {
    color: $color-turquesa;
    font-size: 24px;
    }

    p {
    color: $color-gris;
    font-size: 16px;
    }
}