body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, #261ab1, #0044bb, #0059b3, #0068a1, #00748e, #448194, #678e9b, #869ba2, #a5b2ba, #c4cad1, #e2e3e7, #fdfdfd);
}

h2 {
    color: white;
    text-align: center;
    text-shadow: 0 0 5px #000;
    background-color: lightblue;
    padding: 20px;
    font-weight: bold;
}

.parrafoh2 {
    margin: 0;
    padding: 20px;
    text-shadow: white 0px 0px 20px;
    // background-color: lightblue;
    font-size: large;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.foto2 {
    height: 310px;
}

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

img {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}

.jumbotron2 {
    height: 100px;
    background-position: center;
    text-align: left;
    font-weight: bold;

    h2 p {
    font-weight: bold;
    text-shadow: 0 0 5px;
    }
}

.card {
    background-color: $color-blanco;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;

    h2 {
    color: $color-turquesa;
    font-size: 24px;
    }

    p {
    color: $color-gris;
    font-size: 16px;
    }
}
