.header {
    height: 700px;
    width: auto;
    background-image: url(./Imagenes/IMG-20220110-WA0051~2.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    text-shadow: 0 0 15px #000;
    padding: 100px 0;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}
