/* nosotros */

.empleados-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-4{
    filter: grayscale(100%);
}

.col-md-4:hover{
    filter: grayscale(0%);
    transform: scale(1.02);
    transition: all 1.2s;
}

.empleado {
    width: calc(50% - 10px);
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;

    img {
        width: 50%;
        height: auto;
    }
}